In [6]:
import pandas as pd
import numpy as np

In [5]:
# 동네 소멸 지수를 알 수 있다.

In [8]:
population = pd.read_excel('population_raw_data.xlsx')

population.head(4)

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,2016.9,2016.10,2016.11,2016.12
0,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
1,전국,소계,총인구수 (명),51696216,3541061,3217367,3517868,4016272,2237345,1781229,1457890,909130,416164,141488,34844,17562
2,NaN,NaN,남자인구수 (명),25827594,1877127,1682988,1806754,2045265,1072395,806680,600607,319391,113221,32695,7658,4137
3,NaN,NaN,여자인구수 (명),25868622,1663934,1534379,1711114,1971007,1164950,974549,857283,589739,302943,108793,27186,13425

In [10]:
# Data 로딩 (xlsx 파일)
population = pd.read_excel('population_raw_data.xlsx', header=1)

# header 1을 해서 행정구역 및 나이대가 헤더로 간다. 

population.head(4)

#엑셀에서 하나의 index가 3줄을 포함하기 때문에 NaN값으로 나온다. 
# -> 전처리 하기

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,NaN,NaN,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,NaN,NaN,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0

In [11]:
population.fillna(method='pad', inplace=True)    
# ffill: 결측치NaN 앞의 값으로 채우기,
# inplace: 업데이트까지 수행 옵션
# 상황에 따라 값을 넣고 싶을 때: pad (ffill, backfill, 등등이 있음)
# -> 위에와 동일한 값들이 생략된거니까 하나로 퉁친걸 ㄱ알고 pad임. 다음 값이 나오기 전꺼ㅏ지
# 위의 경우처럼 규칙성이 있는 경우 

# 결측값을 앞 방향 혹은 뒷 방향으로 채우기 (fill gaps forward or backward)

#      : fillna(method='ffill' or 'pad'), fillna(method='bfill' or 'backfill')



#출처: https://rfriend.tistory.com/262 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [13]:
population.head(4)

,행정구역(동읍면)별(1),행정구역(동읍면)별(2),항목,계,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
0,전국,소계,총인구수 (명),51696216.0,3541061.0,3217367.0,3517868,4016272.0,2237345.0,1781229.0,1457890,909130.0,416164.0,141488.0,34844,17562.0
1,전국,소계,남자인구수 (명),25827594.0,1877127.0,1682988.0,1806754,2045265.0,1072395.0,806680.0,600607,319391.0,113221.0,32695.0,7658,4137.0
2,전국,소계,여자인구수 (명),25868622.0,1663934.0,1534379.0,1711114,1971007.0,1164950.0,974549.0,857283,589739.0,302943.0,108793.0,27186,13425.0
3,서울특별시,소계,총인구수 (명),9930616.0,690728.0,751973.0,803507,817467.0,448956.0,350580.0,251961,141649.0,66067.0,24153.0,7058,5475.0

In [15]:
population.columns

Index(['행정구역(동읍면)별(1)', '행정구역(동읍면)별(2)', '항목', '계', '20 - 24세', '25 - 29세',
       '30 - 34세', '35 - 39세', '65 - 69세', '70 - 74세', '75 - 79세', '80 - 84세',
       '85 - 89세', '90 - 94세', '95 - 99세', '100+'],
      dtype='object')

In [18]:
# 1. 컬럼명 단순화 
#population.columns=['광역시', '시도', '항목', '인구수', '20-24', '25-29',
#       '30-34', '35-39', '65-69', '70-74', '75-79', '80-84',
#       '85-89', '90-94', '95-99', '100+']

In [20]:
# 2. 컬럼명 단순화
population.rename(columns = {'행정구역(동읍면)별(1)':'광역시도', '행정구역(동읍면)별(2)':'시도','계':'인구수','항목':'구분'}, inplace=True)

population.columns

Index(['광역시도', '시도', '구분', '인구수', '20 - 24세', '25 - 29세', '30 - 34세',
       '35 - 39세', '65 - 69세', '70 - 74세', '75 - 79세', '80 - 84세', '85 - 89세',
       '90 - 94세', '95 - 99세', '100+'],
      dtype='object')

In [21]:
# 인구 소멸 지수 웃기네...
# 만 20-39세 여성 인구 수 / 만 65세 이상 고령 인구 수

In [22]:
# 데이터 정비 :

# 소계를 제외하고 보고싶기 때문에 -> 소계를 제외하면 구 단위로 볼 수 있음.
population[population['시도'] != '소계']

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,총인구수 (명),152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자인구수 (명),75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자인구수 (명),77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,총인구수 (명),125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자인구수 (명),62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,제주특별자치도,제주시,남자인구수 (명),235977.0,17377.0,13118.0,15084,18350.0,8474.0,6782.0,4941,2737.0,854.0,226.0,53,17.0
842,제주특별자치도,제주시,여자인구수 (명),234688.0,15261.0,12245.0,14687,18062.0,9265.0,7877.0,7178,5649.0,3122.0,1387.0,460,137.0
843,제주특별자치도,서귀포시,총인구수 (명),170932.0,10505.0,8067.0,9120,11606.0,8686.0,7460.0,6456,4521.0,1855.0,733.0,242,77.0
844,제주특별자치도,서귀포시,남자인구수 (명),86568.0,5600.0,4247.0,4693,6082.0,4237.0,3441.0,2611,1494.0,370.0,103.0,29,9.0
845,제주특별자치도,서귀포시,여자인구수 (명),84364.0,4905.0,3820.0,4427,5524.0,4449.0,4019.0,3845,3027.0,1485.0,630.0,213,68.0

In [23]:
# 구분 칼럼의 있는 값들을 컨트롤하기 쉽게 바꾸기 
# '총인구수(명) -> '합계'
# '남자인구수(명) -> '남자'
# '여자인구수(명) -> '여자'
population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

# column의 이름 바꾸기

In [24]:
population.head(10)
population[population['시도'] != '소계'].head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0

In [25]:
population['20-39세'] = population['20 - 24세'] + population['25 - 29세'] + \
                        population['30 - 34세'] + population['35 - 39세']
    
population['65세이상'] = population['65 - 69세'] + population['70 - 74세'] + \
                        population['75 - 79세'] + population['80 - 84세'] + population['85 - 89세'] + \
                        population['90 - 94세'] + population['95 - 99세'] + population['100+']

# 일단 연령을 기준으로 필요한 정보들 합산 

# 새로운 컬럼명이기 때문에 새로 생김

In [26]:
population.head(10)
population[population['시도'] != '소계'].head(10)

,광역시도,시도,구분,인구수,20 - 24세,25 - 29세,30 - 34세,35 - 39세,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,20-39세,65세이상
6,서울특별시,종로구,합계,152737.0,11379.0,11891.0,10684,10379.0,7411.0,6636.0,5263,3104.0,1480.0,602.0,234,220.0,44333.0,24950.0
7,서울특별시,종로구,남자,75201.0,5620.0,6181.0,5387,5034.0,3411.0,3009.0,2311,1289.0,506.0,207.0,89,73.0,22222.0,10895.0
8,서울특별시,종로구,여자,77536.0,5759.0,5710.0,5297,5345.0,4000.0,3627.0,2952,1815.0,974.0,395.0,145,147.0,22111.0,14055.0
9,서울특별시,중구,합계,125249.0,8216.0,9529.0,10332,10107.0,6399.0,5313.0,4127,2502.0,1260.0,469.0,158,160.0,38184.0,20388.0
10,서울특별시,중구,남자,62204.0,4142.0,4792.0,5192,5221.0,3113.0,2405.0,1752,929.0,414.0,132.0,56,51.0,19347.0,8852.0
11,서울특별시,중구,여자,63045.0,4074.0,4737.0,5140,4886.0,3286.0,2908.0,2375,1573.0,846.0,337.0,102,109.0,18837.0,11536.0
12,서울특별시,용산구,합계,230241.0,14317.0,16972.0,19032,19127.0,10675.0,9093.0,7477,4553.0,2254.0,916.0,264,315.0,69448.0,35547.0
13,서울특별시,용산구,남자,111601.0,6937.0,8373.0,9455,9434.0,4834.0,3975.0,3094,1739.0,750.0,284.0,102,88.0,34199.0,14866.0
14,서울특별시,용산구,여자,118640.0,7380.0,8599.0,9577,9693.0,5841.0,5118.0,4383,2814.0,1504.0,632.0,162,227.0,35249.0,20681.0
15,서울특별시,성동구,합계,299259.0,20813.0,23383.0,25507,25979.0,12938.0,10734.0,7989,4450.0,1944.0,678.0,209,198.0,95682.0,39140.0

In [27]:
pop = pd.pivot_table(population, index=['광역시도','시도'], values=['인구수','20-39세','65세이상'])
pop

# column이 없기 때문에 합해서 평균값을 낸다. (남자 여자 값을 독립적으로 판단해서)

                 20-39세          65세이상           인구수
광역시도 시도
강원도  강릉시   32922.666667   25119.333333  1.425640e+05
     고성군    4682.000000    4767.333333  2.007600e+04
     동해시   14176.000000   10082.666667  6.219800e+04
     삼척시   10548.666667    9740.000000  4.639933e+04
     소계   246850.666667  177434.666667  1.033871e+06
...                 ...            ...           ...
충청북도 진천군   11342.000000    7537.333333  4.663333e+04
     청원구   40014.000000   13554.000000  1.272087e+05
     청주시  162691.333333   61035.333333  5.567980e+05
     충주시   32904.666667   23193.333333  1.389000e+05
     흥덕구   52405.333333   15639.333333  1.690420e+05

[282 rows x 3 columns]

In [29]:
pop = pd.pivot_table(population, index=['광역시도','시도', '구분'], values=['인구수','20-39세','65세이상'])
pop

# 아니면 index에 구분을 넣어도 된다.

              20-39세    65세이상       인구수
광역시도 시도  구분
강원도  강릉시 남자  26286.0  15767.0  106231.0
         여자  23098.0  21912.0  107615.0
         합계  49384.0  37679.0  213846.0
     고성군 남자   4494.0   2900.0   15899.0
         여자   2529.0   4251.0   14215.0
...              ...      ...       ...
충청북도 충주시 여자  22757.0  20383.0  103473.0
         합계  49357.0  34790.0  208350.0
     흥덕구 남자  40933.0   9788.0  127647.0
         여자  37675.0  13671.0  125916.0
         합계  78608.0  23459.0  253563.0

[846 rows x 3 columns]

In [30]:
pop = pd.pivot_table(population, index=['광역시도','시도'], columns='구분', values=['인구수','20-39세','65세이상'])
pop

# index를 key값으로 해서 묶는다. values를 통해서 정의함.
# columns는 구분값을 넣으면 column을 기준으로 또 분류한다. (남자, 여자, 합계가 나옴)

            20-39세                         65세이상                      \
구분              남자        여자        합계        남자        여자        합계
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0   15767.0   21912.0   37679.0
     고성군    4494.0    2529.0    7023.0    2900.0    4251.0    7151.0
     동해시   11511.0    9753.0   21264.0    6392.0    8732.0   15124.0
     삼척시    8708.0    7115.0   15823.0    5892.0    8718.0   14610.0
     소계   200279.0  169997.0  370276.0  111217.0  154935.0  266152.0
...            ...       ...       ...       ...       ...       ...
충청북도 진천군    9391.0    7622.0   17013.0    4731.0    6575.0   11306.0
     청원구   32216.0   27805.0   60021.0    8417.0   11914.0   20331.0
     청주시  128318.0  115719.0  244037.0   37882.0   53671.0   91553.0
     충주시   26600.0   22757.0   49357.0   14407.0   20383.0   34790.0
     흥덕구   40933.0   37675.0   78608.0    9788.0   13671.0   23459.0

               인구수
구분              남자        여자         합계
광역시도 시도
강원도  강릉시  106231.0  107615.0   213846.0
     고성군   15899.0   14215.0    30114.0
     동해시   47166.0   46131.0    93297.0
     삼척시   35253.0   34346.0    69599.0
     소계   781146.0  769660.0  1550806.0
...            ...       ...        ...
충청북도 진천군   36387.0   33563.0    69950.0
     청원구   97006.0   93807.0   190813.0
     청주시  419323.0  415874.0   835197.0
     충주시  104877.0  103473.0   208350.0
     흥덕구  127647.0  125916.0   253563.0

[282 rows x 9 columns]

In [31]:
pop['소멸비율'] = pop['20-39세','여자'] / pop['65세이상','합계']

In [32]:
pop.head()

            20-39세                         65세이상                      \
구분              남자        여자        합계        남자        여자        합계
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0   15767.0   21912.0   37679.0
     고성군    4494.0    2529.0    7023.0    2900.0    4251.0    7151.0
     동해시   11511.0    9753.0   21264.0    6392.0    8732.0   15124.0
     삼척시    8708.0    7115.0   15823.0    5892.0    8718.0   14610.0
     소계   200279.0  169997.0  370276.0  111217.0  154935.0  266152.0

               인구수                           소멸비율
구분              남자        여자         합계
광역시도 시도
강원도  강릉시  106231.0  107615.0   213846.0  0.613021
     고성군   15899.0   14215.0    30114.0  0.353657
     동해시   47166.0   46131.0    93297.0  0.644869
     삼척시   35253.0   34346.0    69599.0  0.486995
     소계   781146.0  769660.0  1550806.0  0.638721

In [33]:
pop['소멸위기지역'] = pop['소멸비율'] < 0.5     # True: 소멸위기지역,  False: 소멸위기지역 아님
pop.head()

# 위험하다 아니다를 판단할 수 있음.

            20-39세                         65세이상                      \
구분              남자        여자        합계        남자        여자        합계
광역시도 시도
강원도  강릉시   26286.0   23098.0   49384.0   15767.0   21912.0   37679.0
     고성군    4494.0    2529.0    7023.0    2900.0    4251.0    7151.0
     동해시   11511.0    9753.0   21264.0    6392.0    8732.0   15124.0
     삼척시    8708.0    7115.0   15823.0    5892.0    8718.0   14610.0
     소계   200279.0  169997.0  370276.0  111217.0  154935.0  266152.0

               인구수                           소멸비율 소멸위기지역
구분              남자        여자         합계
광역시도 시도
강원도  강릉시  106231.0  107615.0   213846.0  0.613021  False
     고성군   15899.0   14215.0    30114.0  0.353657   True
     동해시   47166.0   46131.0    93297.0  0.644869  False
     삼척시   35253.0   34346.0    69599.0  0.486995   True
     소계   781146.0  769660.0  1550806.0  0.638721  False

In [34]:
pop.reset_index()
pop.reset_index(inplace=True)

pop.head()

   광역시도   시도    20-39세                         65세이상                      \
구분                  남자        여자        합계        남자        여자        합계
0   강원도  강릉시   26286.0   23098.0   49384.0   15767.0   21912.0   37679.0
1   강원도  고성군    4494.0    2529.0    7023.0    2900.0    4251.0    7151.0
2   강원도  동해시   11511.0    9753.0   21264.0    6392.0    8732.0   15124.0
3   강원도  삼척시    8708.0    7115.0   15823.0    5892.0    8718.0   14610.0
4   강원도   소계  200279.0  169997.0  370276.0  111217.0  154935.0  266152.0

         인구수                           소멸비율 소멸위기지역
구분        남자        여자         합계
0   106231.0  107615.0   213846.0  0.613021  False
1    15899.0   14215.0    30114.0  0.353657   True
2    47166.0   46131.0    93297.0  0.644869  False
3    35253.0   34346.0    69599.0  0.486995   True
4   781146.0  769660.0  1550806.0  0.638721  False

In [40]:
pop.columns

# 첫번째 층, 두번째 층으로 되어있음. -> 다시 바꿀 수 있ㅇ,ㅁ

MultiIndex([(  '광역시도',   ''),
            (    '시도',   ''),
            ('20-39세', '남자'),
            ('20-39세', '여자'),
            ('20-39세', '합계'),
            ( '65세이상', '남자'),
            ( '65세이상', '여자'),
            ( '65세이상', '합계'),
            (   '인구수', '남자'),
            (   '인구수', '여자'),
            (   '인구수', '합계'),
            (  '소멸비율',   ''),
            ('소멸위기지역',   '')],
           names=[None, '구분'])

In [44]:
# 시각화 위한 추가 작업 : pivot 첫행 정리 :
pop.columns
pop.columns.get_level_values(0)

Index(['광역시도', '시도', '20-39세', '20-39세', '20-39세', '65세이상', '65세이상', '65세이상',
       '인구수', '인구수', '인구수', '소멸비율', '소멸위기지역', 'id'],
      dtype='object')

In [45]:
pop.columns.get_level_values(0)[0]

'광역시도'

In [46]:
pop.columns.get_level_values(1)[2]
'A' + 'B'

'AB'

In [47]:
pop.columns.get_level_values(0)[2] + pop.columns.get_level_values(1)[2]

'20-39세남자'

In [48]:
top_col = []

for n in range(0, len(pop.columns.get_level_values(0))):
# len(pop.columns.get_level_values(0))    
    print(n, pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n] )
    top_col.append(pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n])

0 광역시도
1 시도
2 20-39세남자
3 20-39세여자
4 20-39세합계
5 65세이상남자
6 65세이상여자
7 65세이상합계
8 인구수남자
9 인구수여자
10 인구수합계
11 소멸비율
12 소멸위기지역
13 id

In [ ]:
pop.columns = top_col

In [41]:
pop['시도'].str[0:2]
pop['id'] = pop['시도'].str[0:2]

In [42]:
pop.head(3)
pop_map = pop.set_index('id')

In [36]:
# 구역 전체에 색을 한번에 입히기 
# - 경계에 포인트를 주겠다. -> json파일을 이용하여 위치정보 활용

In [37]:
# 시각화 지도작업 :
import folium 
import json

In [51]:
geo_path = '05. skorea_municipalities_geo_simple.json'
geo_data = json.load(open('05. skorea_municipalities_geo_simple.json', encoding='utf-8'))

map = folium.Map(location=[36,127], zoom_start=7)

In [52]:
map.choropleth(geo_data=geo_data, 
               data=pop_map['인구수합계'],
               columns=[pop_map.index, pop_map['인구수합계']],
               key_on='feature.id',
               fill_color='YlGnBu')

KeyError: '인구수합계'

In [50]:
map